<!doctype html>
<html ng-app='CineDB'>
<head>
<link data-require="bootstrap-css@3.3.4" data-semver="3.3.4" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script data-require="angular.js@1.3.15" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
<script data-require="angular-ui-bootstrap@0.12.1" data-semver="0.12.1" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
<script src="https://cdn.firebase.com/libs/firebase-util/0.2.5/firebase-util.min.js"></script>
<meta charset="utf-8">
<title>Cinema and TV Catalogue</title>
</head>
<!-- reference the controller for this example -->
<script src="http://mamtadalal.github.io/Movizz/controller.js"></script> 
<script>
</script>
<body ng-controller="CineDBCtrl" style="padding:10px 5px 15px 40px;">
<table style="box-shadow: 2px 2px 2px #111C9E; border-radius:10px; background-color:#ffffe8; width:780px; height:300px;border-collapse:collapse;">
<tr><td style="vertical-align:top; text-align:center;">
<h1>Cinema and TV Catalogue</h1>
  </td></tr>
  <!-- second row of outer table-->
  <tr><td style="padding:20px; vertical-align:top; text-align:left;-webkit-column-width: 400px; -moz-column-width: 400px; column-width:400px;">
<div ng-repeat="item in pageItems">
<br>
<br>
<b>Name </b>{{item.name}}<br>
<b>Overview: </b>{{item.overview}}
<br>
<b>Genre:</b> 
<div ng-repeat="i in item.genre_ids">
<div ng-repeat="g in genres">
{{g | getNames:i}}
</div>
</div>
</div>
<p>
  <hr>
  <h6>Page {{ pageItems.currentPageNumber }}</h6>
    <button class="btn btn-primary"
            ng-click="pageItems.page.setPage(1)"
            ng-disabled="pageItems.currentPageNumber < 2">
        <i class="glyphicon glyphicon-fast-backward"></i>
    </button>

    <button class="btn btn-primary"
            ng-click="pageItems.page.prev()"
            ng-disabled="!pageItems.page.hasPrev()">
        <i class="glyphicon glyphicon-backward"></i>
    </button>

    <button class="btn btn-primary"
            ng-click="pageItems.page.next()"
            ng-disabled="!pageItems.page.hasNext()">
        <i class="glyphicon glyphicon-forward"></i>
    </button>

    <button class="btn btn-primary"
            ng-click="pageItems.page.setPage(pageItems.pageCount)"
            ng-disabled="!pageItems.page.hasNext() || pageItems.currentPageNumber >= pageItems.pageCount">
        <i class="glyphicon glyphicon-fast-forward"></i>
    </button>
  </p>
</body>
</html>
